[*]
charset = utf-8

[*.ts]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[*.yaml,*.yml]
indent_style = space
indent_size = 2

[*.ts,*.tsx]
indent_style = space
indent_size = 2

[*.scss,*.css,*.styl]
indent_style = space
indent_size = 2
