name: e2e
on:
  push:
  workflow_dispatch:

env:
  TZ: 'Asia/Tokyo'

jobs:
  run-e2e-tests:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: cache
        uses: actions/cache@v3
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: install
        run: |
          yarn install
          npx playwright install --with-deps

      - name: build
        run: yarn run build-storybook

      - name: run server
        run: |
          python -m http.server 5233 --directory "${{ github.workspace }}/storybook-static" &

      - name: e2e test
        run: yarn e2e

      - uses: actions/upload-artifact@v4
        with:
          name: playwright-results
          path: test-results
