name: release
on:
  push:
    branches:
      - master
      - fix/*

permissions:
  id-token: write # Required for npm trusted publishing (OIDC)
  contents: read

jobs:
  package-release:
    # needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    name: npm upload
    steps:
      - uses: actions/checkout@v4
      - name: setup pnpm
        uses: pnpm/action-setup@v4

      - name: setup node
        uses: actions/setup-node@v5
        with:
          node-version: '24.1.0'
          registry-url: 'https://registry.npmjs.org'

      - name: upgrade npm
        run: npm install -g npm@latest

      - name: remove authToken from .npmrc
        run: |
          NPM_RC=$(npm config get userconfig)
          sed -i '/_authToken/d' "$NPM_RC" 2>/dev/null || true

      - name: cache
        uses: actions/cache@v3
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: upload react-core
        run: |
          cd packages/react-core
          pnpm install
          pnpm build --mode development
          VERSION=$(node -p "require('./package.json').version")
          TAG=$( [[ "$VERSION" == *-* ]] && echo "--tag next" || echo "" )
          npm publish --access public --provenance $TAG || true

      - name: upload preact-core
        run: |
          cd packages/preact-core
          pnpm install
          pnpm build
          VERSION=$(node -p "require('./package.json').version")
          TAG=$( [[ "$VERSION" == *-* ]] && echo "--tag next" || echo "" )
          npm publish --access public --provenance $TAG || true

      - name: upload vue-core
        run: |
          cd packages/vue-core
          pnpm install
          pnpm build --mode development
          npm publish --access public --provenance --tag next || true
