name: unittest
on:
  push:

jobs:
  build-storybook:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: setup
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: cache
        uses: actions/cache@v3
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - name: install
        run: |
          yarn install
      - name: test
        run: |
          yarn test
